.amizade-container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
    background: #2c2c54;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.2);
    color: #fff;
    font-family: 'Arial', sans-serif;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.amizade-title {
    width: 100%;
    font-size: 2.5rem;
    margin-bottom: 20px;
    text-align: center;
    color: #00ff80;
    font-family: 'Orbitron', sans-serif;
    text-shadow: 1px 1px 2px #000;
}

.amigos-section, .solicitacao-section, .solicitacoes-section {
    flex: 1 1 300px;
    background: #3b3b98;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
}

.amigos-list, .solicitacoes-list {
    list-style: none;
    padding: 0;
    margin: 0;
}

.amigos-list li, .solicitacoes-list li {
    padding: 10px;
    margin-bottom: 10px;
    background: #575fcf;
    border-radius: 5px;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: background-color 0.3s;
}

#enviar-solicitacao, .solicitacoes-section button {
    padding: 10px 20px;
    background: #00a8ff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

#enviar-solicitacao:hover, .solicitacoes-section button:hover {
    background: #0097e6;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: inset 2px 2px 4px rgba(0, 0, 0, 0.1);
}

.solicitacoes-section {
    background: linear-gradient(145deg, #1e1e2f, #2c2c54);
    color: #fff;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}

.solicitacoes-section h2 {
    margin: 0;
    font-size: 1.5rem;
    color: #00ff80;
}

.toggle-solicitacoes {
    margin-top: 10px;
    padding: 10px 20px;
    background: linear-gradient(145deg, #6200ff, #00ff80);
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
    font-family: 'Rajdhani', sans-serif;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.1);
}

.toggle-solicitacoes:hover {
    background: linear-gradient(145deg, #00ff80, #6200ff);
}

.solicitacoes-list {
    display: none;
    list-style: none;
    padding: 0;
    margin: 10px 0 0;
}

.solicitacoes-list li {
    padding: 10px;
    margin-bottom: 10px;
    background: #333;
    border-radius: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.solicitacoes-list button {
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

.solicitacoes-list button:hover {
    opacity: 0.8;
}